@model TallerNativo.Models.DetallesVenta

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>¿Está seguro de eliminar este Detalle de Venta?</h3>
<div>
    <h4>DetallesVenta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <br></br>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <br></br>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.IdProductos)
        </dd>
        <br></br>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venta.IdVenta)
        </dd>
    </dl><br></br>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DetalleVentaId" />
        <input type="submit" value="Delete" class="col-sm-2 btn btn-danger" /> |
        <a asp-action="Index" class="col-sm-2 btn btn-dark">Regresar</a>
    </form>
</div>
